<div [formGroup]="form" class="form table-container" *ngIf="form">
  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first">
      <b>useEsc</b><br>
      <i>Close the modal with escape key</i>
    </div>
    <div class="flex-row">
      <input type="checkbox" formControlName="useEsc">
    </div>
  </div>

  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first">
      <b>closeOnBackdropClick</b><br>
      <i>Close the modal on the backdrop click</i>
    </div>
    <div class="flex-row">
      <input type="checkbox" formControlName="closeOnBackdropClick">
    </div>
  </div>

  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first">
      <b>showHeader</b><br>
      <i>Show header of the modal</i>
    </div>
    <div class="flex-row">
      <input type="checkbox" formControlName="showHeader">
    </div>
  </div>

  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first">
      <b>title</b><br>
      <i>Modal title</i>
    </div>
    <div class="flex-row">
      <input type="text" formControlName="title">
    </div>
  </div>

  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first">
      <b>showCloseButton</b><br>
      <i>Show close button</i>
    </div>
    <div class="flex-row">
      <input type="checkbox" formControlName="showCloseButton">
    </div>
  </div>

  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first">
      <b>class</b><br>
      <i>Custom css class for the modal</i>
    </div>
    <div class="flex-row">
      <input type="text" formControlName="class">
    </div>
  </div>

  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first">
      <b>size</b><br>
      <i>Modal size (NgxVtModalSize enum)</i>
    </div>
    <div class="flex-row">
      <label>
        <input type="radio" [value]="NgxVtModalSize.SMALL" formControlName="size">
        <span>SMALL</span>
      </label><br>
      <label>
        <input type="radio" [value]="NgxVtModalSize.DEFAULT" formControlName="size">
        <span>DEFAULT</span>
      </label><br>
      <label>
        <input type="radio" [value]="NgxVtModalSize.FULLSCREEN" formControlName="size">
        <span>FULLSCREEN</span>
      </label>
    </div>
  </div>

  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first">
      <b>data</b><br>
      <i>Data for modal</i>
    </div>
    <div class="flex-row">
      <textarea formControlName="data"></textarea>
      <br>
      <b *ngIf="invalidJson" style="color: darkred">
        Invalid Json!
      </b>
    </div>
  </div>

  <div class="flex-table" role="rowgroup">
    <button (click)="openModal()">Open modal</button>
  </div>
</div>

